.gradientCircle {
  @apply absolute mx-auto h-full z-10 lg:-left-32;
  width: 80%;
  background: rgb(255,224,144);
  background: radial-gradient(circle, rgba(255,224,144,0.7) 0%, rgba(255,255,255,0) 62%);
}

.productImageContainer {
  height: 500px;
}