@import '/fonts/HelveticaNeueLTPro-LtEx.otf';
@import '/fonts/HelveticaNeueLTPro-Md.otf';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: #F1EEE880;
  color: #300038;
  font-family: 'Inter', sans-serif;
  position: relative;
  min-height: 100vh;
}

h1 {
  font-family: 'Helvetica Neue LT Std', 'Helvetica 43 Light Extended', sans-serif;
  font-size: 60px;
}

h2 {
  font-family: 'Helvetica Neue LT Std', 'Helvetica 43 Light Extended', sans-serif;
  font-size: 44px;
}

h3 {
  font-family: 'Helvetica Neue LT Std', 'Helvetica 43 Light Extended', sans-serif;
  font-size: 36px;
}

h4 {
  font-family: 'Helvetica Neue LT Std', 'Helvetica 43 Light Extended', sans-serif;
  font-size: 28px;
}

.body-lg {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.body-lg-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.body-md {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.body-md-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.subtitle-1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.subtitle-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

a {
  text-decoration: none;
}

nav {
  background-color: #FFF;
  padding: 2.5rem 5rem 2.5rem 5rem;
  display: flex;
} */

/* .not-found {
  text-align: center;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
  }

  h1 {
    font-family: 'Helvetica Neue LT Std', 'Helvetica 43 Light Extended', sans-serif;
    font-size: 28px;
  }

  h2 {
    font-family: 'Helvetica Neue LT Std', 'Helvetica 43 Light Extended', sans-serif;
    font-size: 26px;
  }

  h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
  }

  .body-lg {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  .body-lg-2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }

  .body-md {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  .body-md-2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14x;
  }
} */