@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Helvetica Neue LT Pro 65 Medium";
  src: url("../public/fonts/HelveticaNeueLTPro-Md.otf");
}

@font-face {
  font-family: "Helvetica Neue LT Pro 43 Light Extended";
  src: url("../public/fonts/HelveticaNeueLTPro-LtEx.otf");
}

html, body {
  overflow-x: hidden;
}

.boxshadow {
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
}

.boxshadow-2 {
  box-shadow: 0 0px 20px rgba(0,0,0,.15);
}

.w-fit {
  width: fit-content;
}

.flipHorizontally {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flipVertically {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.child-z-50 > * {
  z-index: 50;
}

.child-block > * {
  display: block !important;
}

.switchButtonContent {
  width: 275px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  transform: translateY(5%);
}

.switchButtonContent label, .toggle {
  height: 2.8rem;
  border-radius: 100px;
}

.switchButtonContent label {
  width: 100%;
  background-color: #FFE4A0;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.switchButtonContent .toggle {
  position: absolute;
  width: 50%;
  background-color: #300038;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.switchButtonContent .light {
  color: white;
}

.switchButtonContent .dark {
  color: #300038;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"]:checked + .switchButtonContainer .toggle{
  transform: translateX(100%);
  background-color: #300038;
}
[type="checkbox"]:checked + .switchButtonContainer .dark{
  color: white;
}
[type="checkbox"]:checked + .switchButtonContainer .light{
  color: #300038;
}

@media screen and (max-width: 639px) {
  .hide-to-sm { display: none; }
}
@media screen and (max-width: 767px) {
  .hide-to-md { display: none; }
}
@media screen and (max-width: 1023px) {
  .hide-to-lg { display: none; }
}
@media screen and (max-width: 1279px) {
  .hide-to-xl { display: none; }
}
@media screen and (max-width: 1535px) {
  .hide-to-2xl { display: none; }
}